:root{
  /*스타일 관련*/
	--font-myeongjo: 'Nanum Myeongjo', Batang, serif;
  --font-gothic: 'Nanum Gothic', sans-serif;
  --content-font-color: #524436;
  /*위치 크기 관련*/
  --info-container-height: 32px;
  --info-container-padding: 10px;
  --icon-clock-size: 32px;
  --icon-train-size: 32px;
  --info-operation-font-size: 24px;
  --info-weather-temp-font-size: 16px;
  --info-weather-humid-font-size: 14px;
  --info-address-font-size: 16px;
}

.info-container{
  /*위치 크기 관련*/
  width: 95%;
  /*내부 정렬 관련*/
  display: flex;
  flex-direction: column;
}

.info-operation-rating-container{
  /*위치 크기 관련*/
  width: 100%;
  height: auto;
  /*내부 정렬 관련*/
  position: relative;
  display: flex;
  align-items: center;
  /*여백 관련*/
  padding-top: var(--info-container-padding);
}

.icon-clock{
  /*위치 크기 관련*/
  width: var(--icon-clock-size);
  height: var(--icon-clock-size);
}

.info-operation-text{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: var(--info-operation-font-size);
}


.info-rating-container{
  /*위치 크기 관련*/
  position: absolute;
  right: 0;
}

.info-disatance-weather-container{
  /*위치 크기 관련*/
  width: 100%;
  height: auto;
  /*내부 정렬 관련*/
  position: relative;
  display: flex;
  align-items: center;
  /*여백 관련*/
  padding-top: var(--info-container-padding);
}

.icon-train{
  width: var(--icon-train-size);
  height: calc(var(--icon-train-size) * 1.4);
}

.info-disatance-container{
  /*위치 크기 관련*/
  width: 100%;
  height: auto;
  /*내부 정렬 관련*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-distance-station{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: var(--info-operation-font-size);
}

.info-distance-distance{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: calc(var(--info-operation-font-size) / 1.5);
}

.info-weather-container{
  /*내부 정렬 관련*/
  display: flex;
  position: absolute;
  right: 0;
}

.info-weather-container img{
  width: calc(var(--icon-clock-size) * 2);
  height: calc(var(--icon-clock-size) * 2);
}

.info-weather-temp-humid-container{
  /*위치 크기 관련*/
  width: auto;
  height: auto;
  /*내부 정렬 관련*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-weather-temp{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: var(--info-weather-temp-font-size);
}
.info-weather-humid{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: var(--info-weather-humid-font-size);
}


.info-address-container{
  /*스타일 관련*/
  /*위치 크기 관련*/
  width: 100%;
  height: auto;
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  /*여백 관련*/
  padding-top: var(--info-container-padding);
  padding-bottom: var(--info-container-padding);
}

.info-address-text{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: var(--content-font-color);
  /*위치 크기 관련*/
  font-size: var(--info-address-font-size);
  width: 90%;
}

/*반응형 설정*/

/*768px 이상 (폴더블폰)에서의 반응형 설정*/
@media screen and (min-width: 768px){
  :root {
    /*위치 크기 관련*/
    --info-container-height: 40px;
    --info-container-padding: 16px;
    --icon-clock-size: 36px;
    --icon-train-size: 40px;
    --info-operation-font-size: 28px;
    --info-weather-temp-font-size: 20px;
    --info-weather-humid-font-size: 18px;
    --info-address-font-size: 20px;
  }
}

/*1024px 이상 (태블릿)에서의 반응형 설정*/
@media screen and (min-width: 1024px){
  :root{
    /*위치 크기 관련*/
    --info-container-height: 32px;
    --info-container-padding: 10px;
    --icon-clock-size: 32px;
    --icon-train-size: 32px;
    --info-operation-font-size: 24px;
    --info-weather-temp-font-size: 16px;
    --info-weather-humid-font-size: 14px;
    --info-address-font-size: 16px;
  }
}