:root{
	
}
/*애니메이션 부분*/
/*유의사항: opacity를 일관되게 정해주어야함.*/
.menu-transition-enter{
  transform: translateX(-100%);
  opacity: 1;
}

.menu-transition-enter-active{
  transform: translateX(0); /* 요소의 왼쪽 모서리가 화면 좌측에 정렬됨 */
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.menu-transition-enter-done{
  transform: translateX(0);
  opacity: 1;
}

.menu-transition-exit{
  transform: translateX(0);
  opacity: 1;
}

.menu-transition-exit-active{
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.menu-transition-exit-done{

}

/*768px 이상 (폴더블폰)에서의 반응형 설정*/
@media screen and (min-width: 768px){
  :root {

  }
}

/*1024px 이상 (태블릿)에서의 반응형 설정*/
@media screen and (min-width: 1024px){
  :root{

  }
}
