/*외부 변수 관련*/
  .view-container{
    --navbar-height: var(--rendered-navbar-height);/*외부에서 컨테이너로 전달한 navbar 높이*/
  }

:root{
  /*스타일 관련*/
  --font-myeongjo: 'Nanum Myeongjo', Batang, serif;
  --font-gothic: 'Nanum Gothic', sans-serif;
  /*위치 크기 관련*/
  --menubar-width-max: 250px;
  --menubar-head-font-size: 20px;
  --menubar-head-button-size: 44px;
  --menubar-body-menu-size: 50px;
  --menubar-body-menu-font-size: 18px;
  --menubar-tail-height: 50px;
}

/*애니메이션 부분*/
/*유의사항: opacity를 일관되게 정해주어야함.*/
.menubar-transition-enter {
  transform: translateX(-100%);
  opacity: 1;
}

.menubar-transition-enter-active {
  transform: translateX(0);
  /* 요소의 왼쪽 모서리가 화면 좌측에 정렬됨 */
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.menubar-transition-enter-done {
  transform: translateX(0);
  opacity: 1;
}

.menubar-transition-exit {
  transform: translateX(0);
  opacity: 1;
}

.menubar-transition-exit-active {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.menubar-transition-exit-done {

}

.view-container{
  /*위치 크기 관련*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /*내부 정렬 관련*/
  display: flex;
}


.shadow-container{
  /*스타일 관련*/
  background-color: black;
  opacity: 0.2;
  /*위치 크기 관련*/
  height: 100%;
  flex: 4 1 40%; /*기본 비율 40% 및 grow 4 설정 */
  
}


.menubar-flex-wrapper {
  flex: 6 0 60%; /* 이제 이 요소가 60% 공간을 차지합니다. */
  max-width: var(--menubar-width-max);
  height: 100%;
  overflow: hidden; /* 내부 애니메이션 요소의 움직임을 가둡니다. */
}

.menubar-container{
  /*스타일 관련*/
  background: #F9F5E5;
  /*위치 크기 관련*/
  height: 100%;
  /*내부 정렬 관련*/
  display: flex;
  flex-direction: column;
}

.menubar-head{
  /*위치 크기 관련*/
  width: 100%;
  height: var(--navbar-height);
  position: relative;
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  /*테두리 관련*/
  border-bottom: 2px solid #DCD0B4;
}

.menubar-head span{
  /*스타일 관련*/
  font-family: var(--font-myeongjo);
  color: #554638;
  letter-spacing: 3px;
  /*위치 크기 관련*/
  font-size: var(--menubar-head-font-size);
  margin-left: 2vw;
  
}

.menubar-head-close-button{
  /*스타일 관련*/
  background-color: transparent;
  /*위치 크기 관련*/
  width: var(--menubar-head-button-size);
  height: var(--menubar-head-button-size);
  position: absolute;
  right: 0;
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*마진 관련*/
  margin-right: calc((var(--navbar-height) - var(--menubar-head-button-size)) / 2);
  /*테두리 관련*/
  border: none;
}

.menubar-head-close-button img{
  /*스타일 관련*/
  transition: 
    background-color 0.3s ease;
  /*위치 크기 관련*/
  width: calc(var(--menubar-head-button-size) / 2);
  height: calc(var(--menubar-head-button-size) / 2);
}

.menubar-head-close-button:hover img{
  /*스타일 관련*/
  background-color: #EBE2CD;
}

.menubar-body{
  /*위치 크기 관련*/
  width: 100%;
  height: 100%;
}

.menubar-body-menu{
  /*위치 크기 관련*/
  width: 100%;
  height: var(--menubar-body-menu-size);
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*테두리 관련*/
  border-bottom: 2px solid #DCD0B4;
}

.menubar-body-menu button{
  /*스타일 관련*/
  background-color: transparent;
  font-family: var(--font-myeongjo);
  color: #554638;
  letter-spacing: 2px;
  transition: 
    background-color 0.3s ease;
  /*위치 크기 관련*/
  width: 90%;
  font-size: var(--menubar-body-menu-font-size);
  /*테두리 관련*/
  border: none;
}

/**/
.menubar-body-menu:hover button{
  /*스타일 관련*/
  background-color: #EBE2CD;
  /*테두리 관련*/
  outline: none;
}


.menubar-tail{
  /*위치 크기 관련*/
  width: 100%;
  height: var(--menubar-tail-height);
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  /*테두리 관련*/
  border-top: 2px solid #DCD0B4;
}

.menubar-tail-admin-button{
  /*스타일 관련*/
  background-color: transparent;
  transition: 
    background-color 0.3s ease;
  border: none;
  /*위치 크기 관련*/
  width: auto;
  height: auto;
  /*내부 정렬 관련*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubar-tail-admin-button img{
  /*위치 크기 관련*/
  width: calc(var(--menubar-tail-height) / 3);
  height: calc(var(--menubar-tail-height) / 3);
}

.menubar-tail-admin-button span{
  /*스타일 관련*/
  font-family: var(--font-gothic);
  color: #554638;
  /*위치 크기 관련*/
  font-size: calc(var(--menubar-tail-height) / 4);
  /*여백 관련*/
  margin-left: 1vw;
}

.menubar-tail-admin-button:hover{
  background-color: #EBE2CD;
}



/*768px 이상 (폴더블폰)에서의 반응형 설정*/
@media screen and (min-width: 768px){
  :root {
    --menubar-width-max: 300px;
    --menubar-head-font-size: 25px;
    --menubar-head-button-size: 54px;
    --menubar-body-menu-size: 60px;
    --menubar-body-menu-font-size: 20px;
    --menubar-tail-height: 70px;
  }
}

/*1024px 이상 (태블릿)에서의 반응형 설정*/
@media screen and (min-width: 1024px){
  :root{
    --menubar-width-max: min(40%, 500px);
    --menubar-head-font-size: 30px;
    --menubar-head-button-size: 60px;
    --menubar-body-menu-size: 70px;
    --menubar-body-menu-font-size: 30px;
  }
  .menubar-head{
    height: 100px;
  }
}